body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115vh;
  margin: 0;
  text-shadow: 0 0 10px black;
}

img {
  block-size: 100px;
  border-radius: 50px;
  box-shadow: 0 0 10px black;
  background-color: white;
  margin-top: -75%;
  position: relative;
  align-items: center;
}

.card {
  box-shadow: 0 0 50px black;
  background-color: black;
  border-radius: 20px;
  padding: 50px;
  margin-top: 50px;
  text-align: center;
  color: white;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

button:hover{
  background-color: #0056b3;
}

a {
  color: white;
  text-decoration: none;
}